body{

    background-color:#2C3042 ;
    }
    .grid {
        height:100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
      .one {
          grid-column: 1/4;
       background-color: #FD9F60;;
        
      }
      .two {
      
          background-color: #00A687;
      }
      .three {
        grid-column: 2/4;
        background-color: #FC5F57;
      }
      .four {
        background-color: #1CC1A0;
        grid-column: 1/4;
      }
  